:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteneur{
    height: auto;
    padding: 50px;
}
.remark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.spanBonneReponse{
    color: lightgreen;
}

.btnUpdate{
    margin-left: 10px;
}
.selectDifficulte{
    border: 0px;
    width: 150px;
    margin: 0 10px 0 10px;
}
