<h1 class="text-center">Sur cette page, nous allons trouvé toutes les questions! </h1>

<h2>Nous pourrons: </h2>
<ul class="custom-list-marker">
    <li data-marker="✓">relire les questions/réponses</li>
    <li data-marker="✓">modifier les questions/réponses</li>
    <li data-marker="✓">supprimer les questions/réponses</li>
</ul>
<br>
<button  (click)="GetAllQuestions()" class="button primary large shadowed rounded outline">(v2.0 sera obtenu directement) Obtenir toutes les questions API</button>


<div class="conteneur col-md-10">
    <div *ngFor="let question of questions" class="m-5" id="div{{question.id}}">
        <div class="d-flex flex-align-center">

            <textarea data-role="textarea" disabled class="text-left fg-black" data-prepend="<span class='mif-leanpub'></span>">{{ question.texte }} ? </textarea>
            <select disabled class="selectDifficulte fg-white" (change)="changeDifficulte($event.target)" [ngClass]="{'bg-blue': question.difficultes.nom === 'Facile', 'bg-green':question.difficultes.nom === 'Moyenne','bg-red':question.difficultes.nom === 'Expert' }">
                <option value="1" class="bg-white fg-blue" [selected]="question.difficultes.nom == 'Facile'">Facile</option>
                <option value="2" class="bg-white fg-green" [selected]="question.difficultes.nom == 'Moyenne'">Moyenne</option>
                <option value="3" class="bg-white fg-red" [selected]="question.difficultes.nom == 'Expert'">Expert</option>
            </select>

            
            <input class="input-small cell-2 text-center" disabled maxlength="2" value="{{ question.points }}" (change)="changeNumber($event.target)" type="number" data-role="spinner" data-min-value="1" data-max-value="20">
            <button class="button primary square outline mif-2x mif-pencil btnUpdate" (click)="modifQuestion($event.target)"></button> 
        </div>

        <ul>
            <li *ngFor="let reponse of question.reponses"> 

                <div *ngIf="reponse.id != question.bonneReponse.id ;then modeInscriptionActif else modeInscriptionInactif">Le contenu saisi ici sera ignoré.</div>
            
                <ng-template #modeInscriptionActif>
                    <input disabled [attr.data-id]="reponse.id" value="{{ reponse.texte }}"/>
                </ng-template>

                <ng-template #modeInscriptionInactif>
                    <input disabled [attr.data-id]="reponse.id" [attr.data-goodAnswer]="1" class="iptBonneReponse" value="{{ reponse.texte }}"/>
                </ng-template>
            </li>
        </ul> 
        <button type="button" hidden class="button warning outline flex-justify-end m-5" (click)="sendUpdateQuestion(question.id,$event.target)">Mettre à jour</button>
        <button type="button" hidden class="button alert square outline mif-cross btnUpdate" (click)="getIdQuestionASupprimer(question.id)" onclick="Metro.dialog.open('#demoDialog1')"></button>

        <hr>
    </div>
</div>



<div class="dialog dark" data-role="dialog" id="demoDialog1">
    <div class="dialog-title">Êtes vous sûr?</div>
    <div class="dialog-content">
        Vous allez supprimer la question, vous ne pourrez plus annuler cette manipulation !!
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close">Annuler</button>
        <button class="button success js-dialog-close" (click) ="deleteQuestion()">Valider</button>
    </div>
</div>
