:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.conteneur{
    width: 70%;
    height: auto;
    padding: 50px;
}
.remark{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spanBonneReponse{
    color: lightgreen;
}