.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.myForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lblPoint{
    margin-right: 20px;
}
#messageInformation{
    color: red;
}
.columnStyle{
    width: 50px;
}

h6{
    margin:0;
}