<form  class="container col-md-8" (ngSubmit)="onClickSubmit()" >
    
    <div class="remark info w-50">
        <h6>Veuillez choisir la difficulté de la question: </h6>

        <div class="row flex-justify-between">
            <input [(ngModel)]="levelDifficulte" value="1" name="difficulte" data-cls-check="bd-cyan" class="fg-blue" type="radio" data-role="radio" data-caption="Facile" data-caption-position="left">
            <input [(ngModel)]="levelDifficulte" value="2" name="difficulte" data-cls-check="bd-green" class="fg-green" type="radio" data-role="radio" data-caption="Moyenne" data-caption-position="left">
            <input [(ngModel)]="levelDifficulte" value="3" name="difficulte" data-cls-check="bd-red" class="fg-red" type="radio" data-role="radio" data-caption="Expert" data-caption-position="left">
        </div>

    </div> 


    <input class="input-small cell-2" [(ngModel)]="nbPoint" name="nbPoint" (change)="changeNumber($event.target.value)" type="text" data-role="spinner" data-min-value="1" data-max-value="20">

    <div class="d-flex flex-column flex-align-center">
        <p>Tapez ici la question     
            <small>
                <cite title="Source Title" class="text-ultralight">(sans point interrogation)</cite>
            </small>
            :
        </p>

        <input [(ngModel)]="questionTexte" type="text" data-role="input" name="question">

        <div id="containerReponse" class="container-fluid col-md-8">

            <div class="d-flex flex-justify-between flex-align-center" *ngFor="let reponse of reponsesArray ; let index = index;">
                <p class="cell-10 border bd-gray border-size-1" > {{ reponse }} </p>
                <button type="button" (click)="deleteInputReponse(index)" class="button alert square outline mini rounded mif-cross"></button>
                <input [(ngModel)]="bonneReponse" value="{{index}}" name="bonneReponse" data-cls-check="bd-green" class="fg-green" type="radio" data-role="radio" data-caption-position="left">
            </div>

        </div>

        <div class="d-flex flex-align-center">
            <input type="text" class="cell-10" id="reponseSaisie">
            <button type="button" id="btnAddResponse" (click)="addInputReponse($event.target)" class="button m-5 primary outline mif-add float-right">Ajouter une réponse</button>
        </div>

    </div> 
    
    <button type="submit" class="button m-5 success outline">ENREGISTREMENT</button>

</form>

