/* You can add global styles to this file, and also import other style files */
* {
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
    width: 100%;
}

/*#region scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track-piece {
    background: rgba(116, 116, 116, 0.164);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
/*#endregion scrollbar*/
